<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ page.title }} | {{ site.title }}</title>
{% stylesheet screen %}
{% stylesheet genericons %}
</head>
<body>
<div id="drawerMenu">
  {% include navigation.html %}
  <div id="drawerTarget">
    {% include header.html %}
    <div class="contentBack" style="background-image:url('{{ page.image | asset_path }}')"></div>
    <div class="contentFront">
      {% include hero_post.html %}
      <div class="contentMain">
        <div class="contentMain--container">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</div>
{% include ga.html %}
{% javascript app %}
</body>
</html>
